@import url("reset.css");
@import url("common.css");

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
.block-1,
.block-2,
.block-3 {
	padding: 15px;
	font-size: 40px;
	color: #fff;
}
.block-1 {
	background-color: #794f45;
}
.block-2 {
	background-color: #77608d;
}
.block-3 {
	background-color: #7a956b;
}

/*
Різне CSS позиціонування дуже часто 
використовується при верстці сучасних макетів 
і відкриває для нас нові цікаві можливості 
розташування елементів у потоці. 
Але треба бути обережними та вміти поводитися 
з цими можливостями грамотно. 
Розглянемо такі CSS властивості позиціонування як 
position,
top,
left,
right,
bottom та z-index.
А також їх значення.
top,
left,
right,
bottom та z-index. - працюють тільки зі значеннями position
відмінним від static

При позиціонуванні елементу вказавши значення для top, bottom перестає працювати. Так само це працює з left та right. При цьому ,якщо таки ж вказати обидві властивості то пріоритетними будуть: по Y top, а по X left. Гарною практикою є вказання  значень лише для однієї властивості на вісь. (Тобто або top або bottom для Y, та left або right для X)

z-index - управляє положенням об'єкту по осі Z
auto - ближчим буде об'єкт який нижче по коду

static - (за замовченням) статичне позиціонування

.block-1 {
	position: static;
	left: 20px;
}

relative - відносне позиціонування. 
Об'єкт позіціонується відносно свого поточного місця положення.
(відносно свого положення в коді)

Для позиціонування об'єкту (з position: relative;) по вертикалі використовуючи відсотки неможливе без чіткої вказанної висоти для батьківського елементу
Наприклад: top: 10% не спрацює без вказання висоти для батьківського елементу
*/
/*
.block-1 {
	position: relative;
}
.block-2 {
	position: relative;
	top: 0px;
	left: 0px;
}
.block-3 {
	position: relative;
}*/

/*
absolute - абсолютне (безумовне) позиціонування.
1) Разом з position: absolute; обов'язково використовуйте 
властивості для позіціанування (left, top, right, bottom)
2) Об'єкт позіціонується відносно першого батьківського елементу, position якого відмінний від static.
3) Об'єкт втрачає свою блочну сутність. Також втрачає своє положення в коді, та простір який він займав
4) Не можемо вказувати для БЕМ-блоків

Для позиціонування об'єкту (з position: absolute;) по вертикалі,використовуючи відсотки, відсоток буде братись від висоти батьківського елементу

*/
/*
.page {
	padding: 50px;
}
.items {
	position: relative;
}
.block-1 {
}
.block-2 {
	position: absolute;
	left: 10%;
	top: 10%;
}
.block-3 {
	position: relative;
}
*/
/*


fixed - фіксоване позіціанування
1) Разом з position: fixed; обов'язково використовуйте 
властивості для позіціанування (left, top, right, bottom)
2) Об'єкт втрачає свою блочну сутність. 
Також втрачає своє положення в коді, та простір який він займав
3) Завжди позіціонується відносно вікна браузера.
4) Не приймає участі у скролі.
5) Не можемо вказувати для БЕМ-блоків

*/
/*
.page {
	padding: 50px;
}
.items {
	position: relative;
}
.block-1 {
}
.block-2 {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}
.block-3 {
}
*/
/*

sticky - Це гібридне поєднання значень static та fixed. 
Спочатку елемент веде себе як static але після того 
як скролл доходить до його кордону він стає 
fixed та прилипає до зазначеної позиції top або bottom.
!!! Не працює, якщо у батькіских об'єктах присутній 
overflow: hidden;

*/

.page {
	padding: 50px;
}
.items {
}
.block-1 {
	position: sticky;
	top: 10px;
}
.block-2 {
	position: sticky;
	top: 70px;
}
.block-3 {
	position: sticky;
	top: 140px;
}

/* Меню */

.header {
	background-color: #7a956b;
	color: #fff;
}
.header__container {
	max-width: 700px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.header__menu {
}
.menu {
}
.menu__list {
}
.menu__item {
	position: relative;
	display: inline-block;
}
.menu__item:hover .menu__sub-menu {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.menu__item:not(:last-child) {
	margin-right: 10px;
}

.menu__link {
	font-size: 18px;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
}
.menu__link:hover {
	text-decoration: underline;
}

.menu__sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #77608d;
	padding: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	z-index: 1;
	min-width: 150px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s;
}
.sub-menu {
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.sub-menu__link {
}

.sub-menu__link:hover {
	text-decoration: underline;
}
