@import url("reset.css");

/* ======================================================== */
/* ---------------------- Практика ------------------------ */
/* ======================================================== */

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
body {
	/*
	font-family: "Poppins", sans-serif;
	color: #6c757d;
	font-size: 14px;
	font-weight: 300;
	*/
}

/* Обмежуючий контейнер */
[class*="__container"] {
	max-width: 1270px; /* 1240 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* -------------------- */
.article {
	padding-top: 80px;
	padding-bottom: 80px;
}
.article__container {
}
/* Додаткове обмеження ширини */
.article__text-block {
	max-width: 816px;
	margin: 0 auto 80px;
}
.article__text-block p {
	line-height: 1.78; /* 25/14 */
	margin-bottom: 30px;
}
.article__title {
	color: #212529;
	font-size: 25px;
	line-height: 1.6; /* 40/25 */
	margin-bottom: 40px;
	font-weight: 700;
	max-width: 605px;
}
.article__image {
	max-width: 100%;
	margin-bottom: 80px;
}

.images {
	font-size: 0;
	margin-bottom: 80px;
}
.image {
	max-width: 100%;
}
.image_1 {
	margin-right: 30px;
}
.image_2 {
}

/* ======================================================== */
/* ---------- CSS-властивості оформлення блоків ----------- */
/* ======================================================== */

.block {
	background-color: yellowgreen;
}
.inline {
	background-color: green;
}
main {
	padding: 15px;
}

/*
border 
Універсальна властивість встановлює товщину,
стиль та колір границі навколо елемента 
Властивість не успадковується
border: товщина стиль колір;
Основні стили - solid dotted dashed double
*/
.block {
	/* border: 5px solid red; */
	/* Прозора межа */
	/* border: 10px solid transparent; */
	/* 
	border-top: 5px solid #000;
	border-right: 2px dashed red;
	border-bottom: 3px solid #000;
	border-left: 1px dashed green;
	 */
}

.inline {
	/* border: 5px solid red; */
}
.inline-block {
	/* border: 5px solid red; */
}

/*
outline 
Універсальна властивість встановлює товщину,
стиль та колір обводки навколо елемента 
Властивість не успадковується
*/

.block {
	/* outline: 5px solid red; */
}
.inline {
	/* outline: 5px solid red; */
}
.inline-block {
	/* outline: 5px solid red; */
}

/*
border-radius
Встановлює радіус заокруглення кутів блоку. 
Властивість не успадковується
*/

.block {
	/* 
	border-radius: 20px;
	 */

	/* overflow: hidden; */
}
.inline {
	/* border-radius: 50px; */
}
.inline-block {
	/* border-radius: 50%; */
}
/*
.circle {
	width: 200px;
	height: 200px;
	background-color: purple;
	border-radius: 50%;
}
*/

/*
box-shadow
Додає тінь до елементу
Властивість не успадковується
box-shadow: зсув_по_гориз зсув_по_верт радіус(розмиття) розмір колір
inset - тінь в середені об'єкту
*/

.block {
	/* box-shadow: 0px 0px 20px 0px #000; */
	/* box-shadow: inset 0px 0px 20px 0px #000; */
	/* margin-bottom: 50px; */
}
.inline {
	/* box-shadow: 0px 0px 20px 0px #000; */
}
.inline-block {
	/* box-shadow: 0px 0px 20px 0px #000; */
}

/*
opacity
Встановлює рівень прозорості елемента
Властивість не успадковується
0 - повна прозорість
1 - повна непрозорість (за замовченням)
0.5 - прозорість 50%
*/

.block {
	/* opacity: 0.5; */
}
.inline {
}
.inline-block {
}

/*
visibility
Управляє відображенням елемента
visible - (за замовченням) відображає об'єкт
hidden - ховає об'єкт (з об'єктом не можна взаємодіяти)
*/

.block {
	/* visibility: hidden; */
}
.inline {
}
.inline-block {
}

/* 
Різниця між:
visibility: hidden;
opacity: 0;
display: none;
*/
/*
.dif {
	background-color: purple;
	padding: 15px;
	color: #fff;
}
.link {
	color: yellow;
}
*/

/* Прикол з тінями */
/*
.button {
	display: inline-block;
	padding: 10px;
	background-color: purple;
	color: #fff;
	border-radius: 15px;
	border: 5px solid green;
	box-shadow: 0 5px 0 0 #000;
	margin-bottom: 20px;
	position: relative;
	top: 0;
	transition: all 0.3s;
}
.button:hover {
	top: 3px;
	box-shadow: 0 2px 0 0 #000;
}
*/
