/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

/* -------------------------------------------------------------------------------- */
.wrapper{
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 0px;
}

/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */