/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

/* ====================== ШРИФТИ =============================== */

/*----------------- Підключення шрифтів ----------------------- */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

/* Підключення вручну */

@font-face {
	font-family: "Circular Std";
	src: url("/fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Poppins", sans-serif; /* Times New Roman  за замовченням */
	font-size: 14px; /* 16 за замовченням */
	font-weight: 300; /* 400 (Regular) за замовченням */
	color: #6c757d; /* #000000 (чорний) за замовченням */
}

/* -------- CSS-властивості шрифтів ------------ */

/* 
Встановлює родину шрифту
font-family: "Ім'я шрифту", "Ім'я шрифту", тип шрифту;
успадковується

Типи шрифтів:
serif — шрифт з зарубками (засічками)
sans-serif — рублений (без зарубок)
cursive - курсивні шрифти
fantasy — декоративні
monospace — моноширинні
*/
/*
.title {
	font-family: "Circular Std", sans-serif;
}
*/
/*
Встановлює розмір шрифту
font-size: цифрове значення одиниця виміру;
(за замовчунням 16px, якщо в браузері не вказано іншого)
успадковується
*/
.title {
	font-size: 24px;
}

/*
Встановлює стиль шрифту
font-style: назва стилю;
успадковується

normal (за замовчуванням) - звичайний (не змінений, стандартний) стиль 
italic - курсив
oblique - нахилення літер
*/
/*
.title {
	font-style: italic;
}
.text {
}*
*/

/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/
/*
.title {
	font-weight: 700;
}
*/
/* -------- CSS-властивості тексту ------------ */
/*
Встановлює колір тексту
color: слово або код кольору;
успадковується
*/
.title {
	/* color: green; */
	color: #1f7909;
	/* color: rgba(55, 168, 51, 0.5); - прозорість */
}

/*
Встановлює вирівнювання тексту 
(та рядкових, блочно-рядкових елементів)
text-align: значення;
успадковується (текстом)

center - вирівнює по центру
left - вирівнює по лівому краю
right - вирівнює по правому краю
justify - вирівнює текст по ширині об'єкту в якому він знаходиться 
автоматично змінюючи пробіли між словами
*/
/*
.text {
	text-align: center;
}
*/

/*
Додає тексту певне оформлення 
text-decoration: значення;
line-through - закреслює текст
overline - лінія над текстом
underline - лінія під текстом
none - (за замовченням) відміняє змінений раніше параметр
*/
/*
.text {
	text-decoration: line-through;
}
*/
/*
Додає тексту тінь
text-shadow: горизонтальне_зміщення вертикальне_зміщення розмір колір;
успадковується (текстом)
Може бути мульти-тінь (значення через кому - text-shadow: 2px 2px 5px #000, 5px -2px 10px red;)
*/
/*
.text {
	text-shadow: 2px 2px 5px #000, -2px -2px 2px red;
}
*/
/*
Встановлює тип (регістр) літер (прописні або заглавні)
text-transform: значення;
успадковується (текстом)
capitalize - кожне слово починається з заглавної літери
lowercase - усі літери прописні (нижній регістр)
uppercase - усі літери заглавні (верхній регістр)
none - (за замовчунням) не змінює (або відмініє) значення
*/
/*
.title {
	text-transform: uppercase;
}
.text {
}
*/
/*

Визначає міжрядковий інтервал (відстань) (висота рядка)
line-height: значення;
Перевести пікселі в частини:
значення line-height поділити на значення font-size
успадковується (текстом, лише якщо задані частини)
*/
/*
.text {
	font-size: 12px;
	line-height: 1.7;
}
*/
/*
Червоний рядок. Встановлює відступ зліва у першого рядка тексту
text-indent: значення;
успадковується (текстом)
*/
/*
.text {
	text-indent: 20px;
}
*/
/*
Встановлює інтервал між літерами (символами)
letter-spacing: значення;
успадковується (текстом)
*/
/*
.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
}
*/
/*
Керує поведінкою пробілів між словами
white-space: значення;
nowrap - забороняє переніс рядка
normal - (за замовчунням) не змінює (або відмініє) значення
успадковується (текстом)
*/
/*
.text {
	white-space: nowrap;
}
*/
/*
Встановлює інтервал між словами
word-spacing: значення;
успадковується (текстом)
*/
/*
.text {
	word-spacing: 10px;
}
*/
