/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

/* Звернення до всіх елементів на сторінці */
* {
	font-weight: 600;
}
/* Звернення до всіх елеменнтів які знаходяться в тегу p */
p {
	color: red;
}
/* Звернення за селектором класу */
.textblock {
	color: blue;
}
/* Звернення за селектором айди */
#caryer{
	color: yellow;
}
/* Звернення за селектором класу .textblock, які знаходяться в тегу div */
div.textblock{
	color: green;
}
/* Звернення за селектором атрибуту class */
[class*="subtitle"] {
	color: green;
}
/* Звернення за селектором класу до елементів які мають одночасно ці два селектори класу */
.text.paragraph{
	color: blanchedalmond;
}
/* Звернення одночасно і до селекторів класу .text та .subtitle */
.text,
.subtitle{
	font-size: 24px;
}
/* Звернення до всіх p які знаходяться в блоці з селектором класу .textblock */
.textblock p{
	text-decoration: line-through;
}
/* Звернення за селектором класу до тегу .paragraph які в свою чергу знаходятся тільки в блоках з селектором класу .textblock */
.textblock .paragraph{
	background-color: yellow;
}
/* Звернення до всіх елементів які знаходяться в елементі з класом селектору .list */
.list *{
	color: blueviolet;
}
/* Звернення до всіх елементів p які знаходяться далі по коду після елементів з класом .text */
.text ~ p{
	color: blue;
}
/* Звернення до елементів p першого рівня в середині об'єктів з класом text */
.paragraph > h2{
	color: green;
}
/* Звернення до всіх елементів які знаходяться безпосередньо далі по коду після об'єктів з класом .listitem та мають той самий рівень вкладеності */
.listitem + li{
	font-size: 25px;
}
