@import url("reset.css");

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 20px;
}

.block {

}
.block__item {
	visibility: hidden;
}
.block__item:hover {
	visibility: visible;
}
.block:hover .block__item{
	visibility: visible;
}
/* =============== Псевдокласи ================= */

/* Анатомія псевдокласів */
/*
селектор:псевдоклас{

}
селектор:псевдоклас селектор{
	
}
*/

/* Псевдокласи стану */

/*
:hover
Звернення до елемента у стані "при наведенні миші"
Застосовується до будь-якого елемента
*/
/*
.link {
	color: red;
}
.link:hover {
	color: green;
	text-decoration: underline;
}
*/
/*
.link:hover + .text {
	color: green;
}*/

/*
.text {
}
.text a {
	color: yellowgreen;
}
.text a:hover {
	text-decoration: underline;
}
.text__item {
	background-color: #794f45;
	padding: 15px;
	color: #fff;
	visibility: hidden;
	opacity: 0;

	transition: all 0.8s;
}

.text:hover .text__item {
	visibility: visible;
	opacity: 1;
}
*/

/*
:active Звернення до елемента у стані 
"при натиснутій клавіші миші"
*/
/*
.link:active {
	color: blue;
}
*/
/*
:visited Звернення до елемента 
у стані "відвіданого посилання"
обмежена кількість властивостей
*/
/*
.link:visited {
	color: green;
}
*/

/*
:focus Звернення до 
елементу у стані "фокусу"
*/
/*
.link:focus {
	outline: 1px solid red;
}*/

/*
:target
Звернення до елемента у стані
"ефекту від посилання з іншого об'єкту"
*/
/*
.open-block {
	color: green;
}
.open-block:hover {
	text-decoration: underline;
}
.main-block {
	display: none;
}
.main-block:target {
	display: block;
}
*/

/* Псевдокласи положення у коді */
/*
.text {
	background-color: #77608d;
	padding: 15px;
	color: #fff;
}
*/
/*
:first-child
Звернення до першого елементу в коді
*/
/*
.text p:first-child {
	text-transform: uppercase;
}
*/
/* 
:first-of-type
Звернення до першого вказаного 
об'єкту в коді
*/
/*
.text p:first-of-type {
	text-transform: uppercase;
}
*/
/*
:last-child
Звернення до останього 
елементу в коді
*/
/*
.text p:last-child {
	text-transform: uppercase;
}
*/
/*
:last-of-type
Звернення до останього 
вказаного об'єкту в коді
*/
/*
.text p:last-of-type {
	text-transform: uppercase;
}
*/
/*
:nth-child(порядковий номер елементу)
Звернення до конкретного елементу в коді

odd - через один не парні
even - через один парні
*/
/*
.text p:nth-child(06) {
	background-color: #7a956b;
}
*/

/*
:not(селектор) 
Псевдоклас виключення
*/
/*
.text p:not(:last-child) {
	margin-bottom: 20px;
}
*/

.block > * {
	margin-bottom: 20px;
}

.block {
	background-color: #77608d;
	padding: 15px;
	color: #fff;
}

.block__title {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 10px;
}
.block__text {
	line-height: 150%;
	margin-bottom: 30px;
}
.block__link {
	color: yellow;
	display: inline-block;
}
.block__link:hover {
	text-decoration: underline;
}

.block > *:last-child {
	margin-bottom: 0;
}

/* Псевдоелементи */

/* Анатомія псевдоелементів */
/*
селектор::псевдоелемент{

}
Псевдоелементи не можна додати до 
одинарних тегів(наприклад img,br), 
бо ці теги не можуть містити в собі контенту.
*/
/*
::before{}
::after{}

!!!!! Рядкові !!!!!
Властивість content: ""; - Обов'язкова!
*/
/*
div {
	background-color: #7a956b;
}
div::before {
	content: "";
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	vertical-align: middle;
	height: 50px;
	background-color: #794f45;
	margin-right: 10px;
}
div::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 10px;
	background-color: #77608d;
}*/
.list {
	margin-bottom: 50px;
}
.list li:not(:last-child) {
	margin-bottom: 20px;
}
.list li {
	margin-left: 26px;
}
.list li::before {
	content: "";
	display: inline-block;
	background: url("../img/icons/check.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
	margin-left: -26px;
	margin-right: 10px;
	transition: all 0.3s;
}
.list li:hover::before {
	transform: rotate(-180deg) scale(1.5);
}

ol {
	margin-left: 20px;
	margin-bottom: 20px;

	counter-reset: item;
}
ol li {
}
ol li::before {
	counter-increment: item;
	content: counter(item);
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: green;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
}
ol li:not(:last-child) {
	margin-bottom: 10px;
}

/* Псевдокласс + псевлоелемент */

/*
селектор::before{

}
селектор:псевдоклас::before{}
*/
/*
.link::before {
	content: "123";
	color: red;
}
.link:hover::before {
	color: green;
}
*/
/*
.title {
	font-size: 40px;
	display: inline-block;
}
.title::after {
	content: "";
	height: 2px;
	width: 80%;
	display: block;
	background-color: red;
}
