/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");
/* -------------------------------------------------------------------------------- */
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 730px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
body{
	font-family: "Inter", sans-serif;
}
/* -------------------------------------------------------------------------------- */

.mainblock {
}
.mainblock__container {
}
.mainblock__billing {
}
.mainblock__title {
	color: #212B36;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25; /* 125% */
	margin-bottom: 30px;
}
.mainblock__form {
}
.form {
}
.form__group {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.form__row {
	display: flex;
	justify-content: space-between;
	column-gap: 28px;
}
.form__column {
}
.form__input {
	min-width: 336px;
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	padding: 15px 25px;
	background: #FFF;
}
.form__input:focus{
	outline: 1px solid #3056D3;
}
.form__select:focus{
	outline: 1px solid #3056D3;
}
.form__select{
	min-width: 336px;
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	padding: 15px 25px;
	background: #FFF;
	color: #637381;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 150% */
}
.form__select option{
	color: #637381;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 150% */
}
/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */