/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");
/* -------------------------------------------------------------------------------- */
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 730px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
body{
	font-family: "Inter", sans-serif;
}
/* -------------------------------------------------------------------------------- */

.mainblock__form {

}
.form {
	color: #637381;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 150% */
}
.mainblock__title {
	color: #212B36;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25; /* 125% */
	margin-bottom: 30px;
}
.form__body {
	display: flex;
	column-gap: 28px;
	margin-bottom: 30px;
}
.form__column {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.form__input {
	min-width: 336px;
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	background: #FFF;
	padding: 15px 25px;
}
.form__selected {
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	background: #FFF;
	padding: 15px 25px;
	width: 100%;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}
.form__textarea{
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	background: #FFF;
	padding: 15px 25px;
	width: 100%;
	min-height: 250px;
	resize: none;
}

.form__line_textarea {
	margin-bottom: 30px;
}
.form__line {
}
.form__checkbox {
}
.form__line_checkbox {
	margin-bottom: 30px;
}
.checkbox {
}
.checkbox:not(:last-child){
	margin-bottom: 30px;
}
.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox__input:checked + .checkbox__label::before{
	background: url("../img/check-icon.svg") center no-repeat;
}
.checkbox__label::before{
	content: "";
	flex: 0 0 22px;
	width: 22px;
	height: 22px;
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	margin-right: 10px;
	transition: background 0.1s ease-in-out 0s;
}
.checkbox__label {
	cursor: pointer;
	display: inline-flex;
}
.checkbox__text {
}
.form__button{
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5; /* 150% */
	display: inline-flex;
	padding: 12px 22px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	background: #212B36;
}
/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */