/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular&display=swap");
/* -------------------------------------------------------------------------------- */
.wrapper{
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}
[class*="__body"]{
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	width: 150px;
	height: 150px;
	transition: all 0.8s ease 0s;
	padding-top: 40%;
}
[class*="__wrapper"]{
	width: 150px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 20px;
	perspective-origin: center;
	perspective: 400px;
	margin: 50px auto;
	transform-style: preserve-3d;
}
/* -------------------------------------------------------------------------------- */
body{
	padding-top: 100px;
	background: #863636;
	font-family: 'Dela Gothic One', cursive;
}
img{
	max-width: 100%;
}
/* -------------------------------------------------------------------------------- */
.transform__title {
	text-align: center;
	font-size: 36px;
	margin-bottom: 80px;
	color: #ffffff;
	text-transform: uppercase;
}
.transform__card:not(:last-child) {
	margin-bottom: 50px;
}
.transform__description {
	font-size: 24px;
	max-width: 350px;
	margin: 0px auto;
}
/* -------------------------------------------------------------------------------- */

.translate{
	background: #ba7729;
}
.translate:hover{
	transform: translate(20px, 20px);
}

/* -------------------------------------------------------------------------------- */

.scale{
	background: #ba7729;
}
.scale:hover{
	transform: scale(0.8);
}

/* -------------------------------------------------------------------------------- */

.rotate{
	background: #ba7729;
}
.rotate:hover{
	transform: rotate(45deg);
}

/* -------------------------------------------------------------------------------- */

.skew{
	background: #ba7729;
}
.skew:hover{
	transform: skew(20deg,10deg);
}

/* -------------------------------------------------------------------------------- */

.matrix{
	background: #ba7729;
}
.matrix:hover{
	transform: matrix(1, 0, 0, 1.2, 50, 0);
}

/* -------------------------------------------------------------------------------- */

.multi{
	background: #ba7729;
}
.multi:hover{
	transform: translate(20px,20px) scale(0.8) rotate(45deg) skew(20deg,10deg);
}

/* -------------------------------------------------------------------------------- */

.origin{
	background: #ba7729;
	transform-origin: 0 0;
}
.origin:hover{
	transform: translate(20px,20px) scale(0.8) rotate(45deg) skew(20deg,10deg);
}

/* -------------------------------------------------------------------------------- */

.translated{
	background: #ba7729;
}
.translated:hover{
	transform: translate3d(20px,20px,40px);
}

/* -------------------------------------------------------------------------------- */

.scaled{
	background: #ba7729;
}
.scaled:hover{
	transform: scale3d(1.2,0.8,2);
}

/* -------------------------------------------------------------------------------- */

.rotated{
	background: #ba7729;
}
.rotated:hover{
	transform: rotate3d(1,1,1,45deg);
}

/* -------------------------------------------------------------------------------- */

.matrixed{
	background: #ba7729;
}
.matrixed:hover{
	transform: matrix3d(1,0.5,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}

/* -------------------------------------------------------------------------------- */

.multid{
	background: #ba7729;
}
.multid:hover{
	transform: translate3d(0px,0px,0px) scale3d(1.2,0.8,2) rotate3d(1,1,1,45deg);
}

/* -------------------------------------------------------------------------------- */

.style{
	background: #ba7729;
}
.style:hover{
	transform: rotate3d(1,1,1,45deg);
}

/* -------------------------------------------------------------------------------- */
.flip{
	perspective: 500px;
	padding-bottom: 100px;
}
.flip__body {
	position: relative;
	width: 150px;
	height: 150px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}
.flip__font,
.flip__back {
	padding-top: 40%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.flip__font {
	background: #ba7729;
	z-index: 2;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}
.flip__back {
	background: #5119b3;
	transform: rotateY(-180deg);
}
.flip:hover .flip__body {
	transform: rotateY(-180deg);
}

/* -------------------------------------------------------------------------------- */

