/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

/* -------------------------------------------------------------------------------- */
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------------------- */
body{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
}
img{
	max-width: 100%;
}
/* -------------------------------------------------------------------------------- */
main{
	padding: 100px 0px;
}
.mainblock__row {
}
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 44px;
}
.row__title {
}
.row__text {
	display: flex;
	column-gap: 20px;
}
.row__column {
}
.cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 45px;
}
.cards__card {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	flex: 0 1 393px;
	row-gap: 15px;
}
.cards__image {
	position: relative;
	margin-bottom: 30px;
}
.cards__tag {
	position: absolute;
	top: 33px;
	left: 300px;
	min-width: 63.862px;
	text-transform: uppercase;
	height: 25px;
	flex-shrink: 0;
	color: #F8F9FA;
	text-align: center;
	font-size: 8px;
	font-weight: 700;
	line-height: 2.5; /* 250% */
	background: rgba(33, 37, 41, 0.3);
	padding: 3px 13px;
}
.cards__date {
}
.cards__title {
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6; /* 160% */
}
.cards__description {
}
.cards__description::after{
	content: "";
	display: inline-block;
	width: 390px;
	height: 1px;
	background: #E5E5E5;
}
.cards__author {
}

.mainblock__button {
	text-align: center;
}
.mainblock__link {
	min-width: 178px;
	height: 40px;
	flex-shrink: 0;
	padding: 8px 50px;
	color: #F8F9FA;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 25px; /* 208.333% */
	border-radius: 3px;
	background: #212529;
}

/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */