/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

/* -------------------------------------------------------------------------------- */
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------------------- */
body{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.66; /* 166.667% */
}
img{
	max-width: 100%;
	transition: all 0.3s ease 0s;
}
/* -------------------------------------------------------------------------------- */
.mainblock__categories{
	padding: 100px 0px;
}
.row {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	font-weight: 500;
	line-height: 2.08; /* 208.333% */
	margin-bottom: 44px;
}
.row__title {
	color: rgb(71, 79, 87);
}
.row__actions {
	display: flex;
	column-gap: 30px;
	color: rgba(73, 80, 87, 0.50);
}
.row__column {
	transition: all 0.3s ease 0s;
}
.row__column:hover{
	color: rgba(73, 80, 87, 1);
}


.cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 45px;
	justify-content: center;
	color: #495057;
	font-size: 12px;
	margin-bottom: 60px;
}
.cards__item {
	display: flex;
	flex-direction: column;
	flex: 0 1 393px;
	row-gap: 30px;
}
.cards__image {
	position: relative;
	border-radius: 3px;
	transition: all 0.3s ease 0s;
	overflow: hidden;
	max-height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards__text {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	align-content: end;
}
.cards__tag {
	transition: all 0.3s ease 0s;
	position: absolute;
	left: 72%;
	top: 10%;
	color: #F8F9FA;
	text-align: center;
	font-size: 8px;
	font-weight: 700;
	line-height: 2.5; /* 250% */
	border-radius: 3px;
	background: rgba(33, 37, 41, 0.30);
	min-width: 63.862px;
	height: 25px;
	flex-shrink: 0;
	padding: 3px 13px;
	z-index: 30;
}
.cards__title {
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}
.cards__item:hover .cards__title{
	color: #CCD5AE;
}
.cards__item:hover img{
	transform: scale(1.2);
}
.cards__item:hover .cards__image::before{
	opacity: 1;
}
.cards__image::before{
	content: "";
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(33, 37, 41, 0.30);
	transition: all 0.3s ease 0s;
}
.cards__item:hover .cards__tag{
	transform: scale(1.2);
	color: #CCD5AE;
}
.cards__description{
	color: #495057;
	font-size: 12px;
}
.cards__description::after{
	content: "";
	display: inline-block;
	background: #E5E5E5;
	width: 100%;
	height: 1px;
}

.button {
	text-align: center;
}
.button__link {
	display: inline-block;
	border-radius: 3px;
	background: #212529;
	min-width: 178px;
	height: 40px;
	color: #F8F9FA;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 2.08; /* 208.333% */
	padding: 8px 50px;
	transition: all 0.3s ease-in-out 0s;
}
.button__link:hover{
	color: #212529;
	background: #F8F9FA;
	border: 1px solid #212529;
	transform: scale(1.1);
}
.button__link:active{
	color: #212529;
	background: #F8F9FA;
	border: 1px solid #212529;
	transform: scale(0.9);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* -------------------------------------------------------------------------------- */

.headerblock {
	min-height: 100vh;
	background: url('../img/header-back.jpg') center center / cover no-repeat;
	z-index: 5;
}

.headerblock__text {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding-top: 25%;
	padding-bottom: 100px;
	max-width: 605px;
	color: #E5E5E5;
	font-size: 12px;
}
.headerblock__title {
	color: #F8F9FA;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6; /* 160% */
}
.headerblock__row {
	padding-top: 36px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 60;
	column-gap: 20px;
}
.row__menu {
	display: flex;
}
.menu {
	color: rgba(248, 249, 250, 0.50);
	font-size: 12px;
	font-weight: 500;
	line-height: 2.08; /* 208.333% */
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	margin-right: 25px;
}
.menu__list::after{
	content: "";
	display:inline-block;
	background: rgba(229, 229, 229, 0.50);
	width: 2px;
	height: 25px;
	transition: all 0.3s ease-in-out 0s;
}
.menu__item{
	transition: all 0.3s ease-in-out 0s;
	position: relative;
}
.menu__item:hover .menu__link{
	color: #F8F9FA;
}
.menu__item::after{
	content: "";
	position: absolute;
	top: 80%;
	left: 0%;
	text-align: center;
	background: #CCD5AE;
	border-radius: 2px;
	width: 100%;
	height: 2px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out 0s;
}
.menu__item:last-child{
	margin-right: 25px;
}
.menu__item:hover::after{
	opacity: 1;
	visibility: visible;
}
.menu__item:hover .menu__link_parent::after{
	transform: rotate(-90deg) translate(2px, 10px);
}
.menu__link_parent {
	position: relative;
}
.menu__item:hover .sub-menu__menu{
	display: block;
	visibility: visible;
	opacity: 1;
}
.menu__link_parent::after{
	content: "";
	display: inline-block;
	background: url('../img/arrow-down.svg') 0 0 no-repeat;
	width: 8px;
	height: 5px;
	transform: translate(5px, -1px);
	transition: all 0.3s ease 0s;
}
.sub-menu__menu {
	display: none;
	visibility: hidden;
	opacity: 0;
	border-radius: 5px;
	background: #212529;
	width: 136px;
	height: 170px;
	flex-shrink: 0;
	margin: 0px auto;
	position: absolute;
	top: 100%;
	left: -25px;
}
.sub-menu__list {
	padding: 20px;
}
.sub-menu__item {
	color: rgba(248, 249, 250, 0.60);
}
.sub-menu__item:hover .sub-menu__link{
	color: #F8F9FA;
	border-bottom: 2px solid #CCD5AE;
	border-radius: 1px;
}
.sub-menu__item:hover .sub-menu__link{
	color: #F8F9FA;
}

.sub-menu__item:not(:last-child){
	margin-bottom: 10px;
}
.sub-menu__link {
	transition: all 0.1s ease-in 0s;
}
.row__action {
	padding-top: 6px;
}
/* -------------------------------------------------------------------------------- */
.topics {
	background: #212529;
	overflow: hidden;
}
.topics__container {
	display: flex;
}
.cards-topics {
	padding: 100px 138px 100px 0px;
}
.cards-topics__title-main {
	color: #F8F9FA;
	font-size: 25px;
	font-weight: 500;
	line-height: 0.8; /* 80% */
	margin-bottom: 60px;
}
.cards-topics__body {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.cards-topics__item {
	transition: all 0.3s ease 0s;
	display: flex;
	justify-content: center;
	column-gap: 30px;
	color: #E5E5E5;
	font-size: 12px;
}
.cards-topics__item:hover .cards-topics__title{
	color: #CCD5AE;
}
.cards-topics__item:hover .cards-topics__image img{
	transform: scale(1.2);
}
.cards-topics__item:hover .cards-topics__image::before{
	opacity: 1;
}
.cards-topics__image {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}
.cards-topics__image img {
	max-width: 100%;
	transition: all 0.3s ease 0s;
}
.cards-topics__image::before{
	content: "";
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(33, 37, 41, 0.30);
	transition: all 0.3s ease 0s;
}
.cards-topics__image_nature{
	flex: 0 0 200px;
	max-height: 200px;
}
.cards-topics__text {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	max-width: 281px;
}
.cards-topics__title{
	transition: all 0.3s ease 0s;
	color: #F8F9FA;
	font-weight: 500;
	line-height: 1.56; /* 156.25% */
}
.topics__image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../img/topics-back.jpg') center center/ cover no-repeat;
	padding: 0px 10%;
	position: relative;
}
.topics__image:hover .topics__title {
	color: #CCD5AE;
	transform: scale(1.2);
}
.topics__text{
	max-width: 393px;
	margin: 0px auto;
}
.topics__title {
	transition: all 0.3s ease 0s;
	color: #F8F9FA;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}
.topics__subtitle {
	transition: all 0.3s ease 0s;
	color: #E5E5E5;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
}
.mainblock__title{
	transition: all 0.3s ease 0s;
}
.mainblock__title:hover{
color: #CCD5AE;
}
.mainblock__cards_world {
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.cards__item_world{
	flex: 1 1 287px;
}
.cards__image_world{
	max-height: 200px;
}
.mainblock__another {
	padding-top: 100px;
}
.mainblock__title {
	color: #495057;
	font-size: 25px;
	font-weight: 500;
	line-height: 0.8; /* 80% */
	margin-bottom: 60px;
}

.cards__title_fz{
	color: #212529;
	font-size: 16px;
	font-weight: 500;
	line-height:1.56; /* 156.25% */
}
.cards__description_bf::after{
	display: none;
}

.footerblock {
	background: #212529;
}
.footerblock__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px 0px;
	color: rgba(248, 249, 250, 0.50);
	font-size: 12px;
	font-weight: 500;
	line-height: 2.08; /* 208.333% */
}
.footerblock__row:nth-child(1)::after{
	content: "";
	display: inline-block;
	margin-top: 40px;
	margin-bottom: -40px;
	width: 100%;
	height: 1px;
	background: rgba(229, 229, 229, 0.20);
}
.footerblock__nav {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
}
.footerblock__link{
	transition: all 0.3s ease 0s;
	position: relative;
}
.footerblock__link:hover{
	color: #CCD5AE;
}
.footerblock__link:hover::after{
	content: "";
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #CCD5AE;
}


@media (max-width: 980px){
	.cards-topics {
		padding: 100px 0px 100px 0px;
	}
	.cards-topics__item {
		flex-wrap: wrap;
		row-gap: 30px;
	}
	.topics__container {
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.topics__image {
		min-height: 100vh;
		margin-bottom: 50px;
	}
}
@media (max-width: 400px){
	.footerblock__row{
		justify-content: center;
	}
	.menu__list::after{
		display: none;
	}
	.menu__list {
		display: flex;
		flex-wrap: nowrap;
		column-gap: 25px;
		font-size: 10px;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
	}
	.row__menu {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 20px;
		z-index: 60;
	}
}