/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

/* -------------------------------------------------------------------------------- */
.wrapper{
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 0px;
}

/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
body{
	background: #924848;
}
/* -------------------------------------------------------------------------------- */

.block {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px auto;
	width: 250px;
	height: 250px;
	background: #000;
	transition: all 0.3s ease 0s;
	animation: block 3s ease 1s infinite alternate ;
}
.block__animation {
}
@keyframes block {
	0% {
		transform: rotate(0deg) ;
	}
	100% {
		transform: rotate(360deg)  translate(140px,40px);
	}

}

/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */