/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");

/* ------------------------------------------------------------------------------------ */

[class*="__container"] {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px;
}
.headerblock {
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	background: url('../img/header/headerback.jpg') center / cover no-repeat;
	color: #E5E5E5;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66;
}
.headerblock * {
	margin-bottom: 15px;
}
.headerblock__text {
	padding: 330px 0 100px;
}
.headerblock__title {
	max-width: 579px;
	color: #F8F9FA;
	font-size: 25px;
	font-weight: 700;
}

/* ------------------------------------------------------------------------------------ */

.mainblock {
	padding:  10%;
	font-family: 'Inter', sans-serif;
	color: #637381;
	font-size: 16px;
	font-weight: 700;
}
.mainblock__title {
	color: #212B36;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 45px;
}
.list {
	margin-bottom: 60px;
}
.list__item {
	margin-bottom: 18px;
	min-height: 32px;
	padding: 2px 0px 0px 30px;
}
.ellipse {
	margin-bottom: 18px;
	background: url('../img/main/ellipse.svg') 0 4px no-repeat;
	padding: 0px 0px 0px 18px;
}
.red-circle {
	background: url('../img/main/red-circle.svg') 0 0px no-repeat;
}
.blue-check {
	background: url('../img/main/blue-check.svg') 0 0 no-repeat;
}
.blue-arrow {
	background: url('../img/main/blue-arrow.svg') 0 5px no-repeat;
}
.green-check {
	background: url('../img/main/green-check.svg') 0 0 no-repeat;
}
.blue-star {
	background: url('../img/main/blue-star.svg') 0 0 no-repeat;
	margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------------ */

.footerblock{
	font-family: "Inter", sans-serif;
	padding: 145px 10% 145px 10%;
	background: rgb(244,247,255);
background: url('../img/footer/speaker.png') 75% 50% no-repeat, linear-gradient(120deg, rgba(244,247,255,1) 64%, rgba(228,234,251,1) 64%, rgba(208,219,249,1) 69%, rgba(188,203,247,1) 69%);
}
.footerblock__text {
	max-width: 570px;
	margin-bottom: 35px;
}
.footerblock__price {
	color: #3056D3;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33; /* 133.333% */
	margin-bottom: 13px;
}
.footerblock__title {
	color: #212B36;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.25; /* 125% */
	margin-bottom: 15px;
}
.footerblock__subtitle {
	color:#637381;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 150% */
}
.footerblock__link {
	padding: 10px 30px;
	display: inline-block;
	border-radius: 30px;
	background: #3056D3;
	color:#FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5; /* 150% */
}

/* ------------------------------------------------------------------------------------ */

@media (max-width: 1200px){
	.footerblock__text {
		padding: 15px;
		background: rgba(255, 255, 255, 0.7);
	}
	.footerblock__button{
		text-align: center;
	}
}