/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

/* Анатомія CSS */

/* 
Селектор - запит (пошук) елемента в HTML файлі 
до якого підключений данний CSS-файл 
*/
/*
селектор{
	css параметр;
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* CSS параметр: */
/* css властивість: значення властивості; */

/* ----------------------------- */
/* Типи селекторів */

/* Тип №0. Селектор зірочка  */
/* Шукаємо (робимо запит) до всіх об'єктів */
* {
}

/* Тип №1. Селектор тегу */
/* Шукаємо (робимо запит) по назві тегу */

/* Приклад */
/* Звертаємось/описуємо (шукаємо, робимо запит) до УСІХ 
	тегів DIV на сторінці 
*/
div {
	/* color: red; */
}
/* Звертаємось/описуємо (шукаємо, робимо запит) до УСІХ 
	тегів A на сторінці 
*/
a {
	/* color: green; */
}

/* Тип №2. Селектор класу */
/* Шукаємо (робимо запит по назві класу) */
/* спочатку КРАПКА потім ім'я класу */

/* Звертаємось/описуємо 
	(шукаємо, робимо запит) до УСІХ 
	тегів з класом text на сторінці 
*/

.text {
	/* color: red; */
}

/* Тип №3. Селектор ID */
/* Шукаємо (робимо запит по назві ID) */
/* спочатку # потім значення ID */
#list {
	/* color: red; */
}

/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* Усі DIV з класом text */
div.text {
	/* color: green; */
}
/* Усі теги з класами lesson 
	та text одночасно 
	НІЯКИХ ПРОБІЛІВ МІЖ КЛАСАМИ!
*/
.lesson.text {
	/* color: green; */
}

/* Звертаємось відразу до кількох класів */
.lesson {
	/* color: red; */
	/* ... */
}
.text {
	/* color: red; */
	/* ... */
}

/* Звертаємось відразу до об'єктів з класом lesson та
	до об'єктів з класом text
 */

.lesson,
.text {
	/* color: red; */
}

/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */
/* ОБОВ'ЯЗКОВО ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Усі теги P в середені об'єктів з класом text
	рівень вкладеності значення немає
 */
.text p {
	/* color: red; */
}

/* Усі об'єкти з класом lesson в середені 
	об'єктів з класом text 
*/
.text .lesson {
}

/* Усі об'єкти в середені 
об'єктів з класом text */
.text * {
	/* color: green; */
}

/* Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом text 
*/
.text > p {
	/* color: red; */
}
/*
Усі теги P які знаходяться 
далі по коду після об'єктів з класом text
та мають той самий рівень вкладеності
*/
.text ~ p {
	/* color: red; */
}

/*
Тег P який знаходяться беспосередньо 
далі по коду після об'єктів з класом text
та мають той самий рівень вкладеності
*/
.text + p {
	/* color: red; */
}

/* Селектори атрибутів */
[class*="__container"] {
	/* color: green; */
}

/* -------- ПРІОРИТЕТ СЕЛЕКТОРІВ ------------ */
/*
Основні правила формування пріоритетів: 
1) У випадку рівнозначних селекторів більший 
пріоритет буде у останього (нижчого) по коду.
2) Більший пріоритет завжди буде у селектора,
який звужує (уточює, конкретизує) пошук (запит).
3) Пріоритет у рядкових (inline) стилів 
(атрибут style="") вищий ніж у стилів 
з окремого файлу (наприклад style.css)
4) Флаг !important перезаписує пріоритет 
(не рекомендується)
*/

/* Популярні питання */

/* 
В чому різниця між .text.lesson та .text .lesson?
*/
/* Звертаємось до об'єктів у якого ОДНОЧАСНО є клас text
та клас lesson */
.text.lesson {
}
/* Звертаємось до об'єктів з класом lesson,
які вкладені в об'єкти з класом text */
.text .lesson {
}
