@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-Bold.woff2') format('woff2'),
        url('ACaslonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

