
.pic{
	transition: transform 0.8s ease-in-out 0s;
	position: relative;
}
.image{
	overflow: hidden;
	position: relative;
}
.image::after{
	content: "";
	display: block;
	opacity: 0;
	transition: opacity 0.8s ease-in-out 0s;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.218);
}
.image:hover .pic{
	transform: scale(1.1);
}
.image:hover::after{
	opacity: 1;
}
.title{
	text-align: center;
	color:#000;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.4; /* 78.4px */
	margin-bottom: 40px;
}
.subtitle{
	max-width: 518px;
	text-align: center;
	color:#000;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
	margin: 0px auto 53px;
}
.title-block{
	flex: 0 1 446px;
	display: inline-block;
	width: 100%;
	background: #000;
	height: 2px;
}
.title-section{
	display: flex;
	align-items: center;
	color:#000;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 24px */
	gap: 30px;
}