/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");

/* -------------------------------------------------------------------------------- */
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1230px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
body{
	font-family: 'Poppins', sans-serif;
	background: #D9D9D9;
}
/* -------------------------------------------------------------------------------- */
.achievement {
	padding: 100px 0px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.achievement__title {
	display: flex;
	align-items: center;
	color:#000;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 24px */
	gap: 30px;
}
.achievement__title-block{
	flex: 0 1 446px;
	display: inline-block;
	width: 100%;
	background: #000;
	height: 2px;
}
.cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.cards__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 40px;
}
.cards__image {
	flex: 0 1 746px;
}
.cards__text {
	display: flex;
	flex: 0 1 334px;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	justify-content: center;
}
.cards__title {
	color:#333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4; /* 33.6px */
}
.cards__description {
	color:#9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
}

/* -------------------------------------------------------------------------------- */

.minimalist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.minimalist__title {
	text-align: center;
	color:#000;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.4; /* 78.4px */
	margin-bottom: 40px;
}
.minimalist__subtitle {
	max-width: 518px;
	text-align: center;
	color:#000;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
	margin: 0px auto 53px;
}
.minimalist__image {
	margin-bottom: 100px;
}
.columns {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 0px -15px 82px;
}
.columns__column {
	flex: 0 1 584px;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	color:#9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
}
.columns__title {
	color:#333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4; /* 33.6px */
}
.columns__footer {
	display: flex;
	column-gap: 80px;
	padding-top: 30px;
}
.gallery {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 100px;
}
.gallery__row {
	display: flex;
	justify-content: center;
	gap: 30px;
}
/* -------------------------------------------------------------------------------- */

@media (max-width: 1149px){
	.cards__body {
		justify-content: center;
	}
	.cards__text {
		flex: 0 1 746px;
		justify-content: center;
	}
}

.portfolio__image {
	margin-bottom: 100px;
}
.title-section {
	margin-bottom: 40px;
}
.portfolio__cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.item {
	display: flex;
	column-gap: 40px;
	align-items: center;
	flex-wrap: wrap;
}
.item:nth-child(even){
	flex-direction: row-reverse;
}
.item:nth-child(even) .tag{
	flex-direction: row-reverse;
	top: 26px;
	left: -196px;
}
.item:nth-child(odd) .tag{
	top: 26px;
	right: -196px;
}
.item__image {
	position: relative;
	overflow: visible;
}
.item__tag {
}
.tag {
	display: flex;
	align-items: center;
	gap: 20px;
	min-width: 276px;
	height: 90px;
	position: absolute;
	top: 26px;
	padding: 17px 20px;
	background: #fff;
	z-index: 20;
}
.tag__icon {
}
.tag__text {
}
.tag__name {
	color:#000;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4; /* 25.2px */
}
.tag__post {
	color:#9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
}
.item__text {
	flex: 0 1 223px;
}
.item__title {
	margin-bottom: 20px;
	color: #333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4; /* 33.6px */
}
.item__description {
	margin-bottom: 40px;
	color:#9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
}
.item__button-link {
}
.item__link {
	min-width: 129px;
	display: inline-flex;
	padding: 14px 32px;
	align-items: flex-start;
	gap: 10px;
	border: 1px solid #3C3C3C;
	background: #2C3878;
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5; /* 21px */
	transition: all 0.3s ease 0s;
}
.item__link:hover{
	background: #fff;
	color:#2C3878;
	border: 1px solid #2C3878;
}