/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");

/* -------------------------------------------------------------------------------- */
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1230px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
body{
	font-family: 'Poppins', sans-serif;
}
/* -------------------------------------------------------------------------------- */
.achievement {
	padding: 100px 0px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.achievement__title {
	display: flex;
	align-items: center;
	color:#000;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 24px */
	gap: 30px;
}
.achievement__title-block{
	flex: 0 1 446px;
	display: inline-block;
	width: 100%;
	background: #000;
	height: 2px;
}
.cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.cards__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 40px;
}
.cards__image:hover::after{
	opacity: 1;
}
.cards__image {
	flex: 0 1 746px;
	overflow: hidden;
	position: relative;
}
.cards__pic{
	transition: transform 0.8s ease-in-out 0s;
	position: relative;
}
.cards__image::after{
	content: "";
	display: block;
	opacity: 0;
	transition: opacity 0.8s ease-in-out 0s;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.218);
}
.cards__image:hover .cards__pic{
	transform: scale(1.1);
}
.cards__text {
	display: flex;
	flex: 0 1 334px;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	justify-content: center;
}
.cards__title {
	color:#333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4; /* 33.6px */
}
.cards__description {
	color:#9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
}

/* -------------------------------------------------------------------------------- */

.minimalist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.minimalist__title {
	text-align: center;
	color:#000;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.4; /* 78.4px */
	margin-bottom: 40px;
}
.minimalist__subtitle {
	max-width: 518px;
	text-align: center;
	color:#000;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
	margin: 0px auto 53px;
}
.minimalist__image {
	margin-bottom: 100px;
	overflow: hidden;
	position: relative;
}
.minimalist__pic {
	transition: transform 0.8s ease-in-out 0s;
	position: relative;
}
.minimalist__image::after{
	content: "";
	display: block;
	opacity: 0;
	transition: opacity 0.8s ease-in-out 0s;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.218);
}
.minimalist__image:hover .minimalist__pic{
	transform: scale(1.1);
}
.minimalist__image:hover::after{
	opacity: 1;
}
.columns {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 0px -15px 82px;
}
.columns__column {
	flex: 0 1 584px;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	color:#9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6; /* 28.8px */
}
.columns__title {
	color:#333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4; /* 33.6px */
}
.columns__footer {
	display: flex;
	column-gap: 80px;
	padding-top: 30px;
}
.gallery {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 100px;
}
.gallery__row {
	display: flex;
	justify-content: center;
	gap: 30px;
}
.gallery__image {
	overflow: hidden;
	position: relative;
}
.gallery__pic {
	transition: transform 0.8s ease-in-out 0s;
	position: relative;
}
.gallery__image::after{
	content: "";
	display: block;
	opacity: 0;
	transition: opacity 0.8s ease-in-out 0s;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.218);
}
.gallery__image:hover .gallery__pic{
	transform: scale(1.1);
}
.gallery__image:hover::after{
	opacity: 1;
}
/* -------------------------------------------------------------------------------- */

@media (max-width: 1149px){
	.cards__body {
		justify-content: center;
	}
	.cards__text {
		flex: 0 1 746px;
		justify-content: center;
	}
}