/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
/* -------------------------------------------------------------------------------- */

[class*="__container"] {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px;
}
[class*="__title"] {
	max-width: 605px;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6; /* 160% */
	margin-bottom: 40px;
}
/* -------------------------------------------------------------------------------- */
body{
	font-family: 'Poppins', sans-serif;
}
img{
	max-width: 100%;
	border-radius: 5px;
}
/* -------------------------------------------------------------------------------- */

.wrapper {
}
.headerblock {
	min-height: 100vh;
	background: url('../img/header__back.jpg') center/cover no-repeat;
}

.headerblock__row {
	padding-top: 36px;
	display: flex;
	justify-content: space-between;
}
.headerblock__link {
}
.headerblock__links {
	display: flex;
	column-gap: 25px;
}
.headerblock__logo {
}

.list {
	color: rgba(248, 249, 250, 0.50);
	font-size: 12px;
	font-weight: 500;
	line-height: 2.08; /* 208.333% */
	display: flex;
	column-gap: 25px;
}
.list__item {
}
.list__link {
}
.headerblock__icon {
	padding-top: 6px;
}
.headerblock__text *:not(:last-child) {
	margin-bottom: 15px;
}
.headerblock__text {
	text-align: center;
	padding-top: 164px;
	color: #E5E5E5;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66; /* 166.667% */
}
.headerblock__tag {
	color: #E5E5E5;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66; /* 166.667% */
}
.title-white {
	color: #F8F9FA;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0px auto;
}



/* -------------------------------------------------------------------------------- */

.mainblock {
	padding-top: 80px;
}
.mainblock__container {
}
.mainblock__article {
}
.article {
}

.article__row {
	max-width: 816px;
	margin: 0px auto;
	display: flex;
	column-gap: 25px;
	color: #6C757D;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66; /* 166.667% */
	margin-bottom: 15px;
}
.article__author {
	font-weight: 700;
}
.article__item {
	max-width: 816px;
	margin: 0px auto;
	margin-bottom: 80px;
}
.article__item:last-child{
	margin-bottom: 98px;
}
.article__title {
}

.article__text {
	color: #6C757D;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.78; /* 178.571% */
	margin-bottom: 34px;
}
.article__text *:not(:last-child) {
	margin-bottom: 34px;
}
.article__image {
	margin-bottom: 80px;
}
.article__images {
	font-size: 0;
	display: flex;
	gap: 30px;
	margin-bottom: 80px;
	flex-wrap: wrap;
	justify-content: center;
}
.tag {
	color: #6C757D;
	text-align: center;
	font-size: 8px;
	font-weight: 700;
	line-height: 2.5; /* 250% */
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
.tag__item {
	padding: 2px 13px;
	align-items: flex-start;
	gap: 10px;
	border-radius: 3px;
	border: 1px solid #C4C4C4;
}

.latest {
	padding: 100px 0px;
	background: rgba(94, 94, 94, 0.05);
	
}
.latest__items{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.latest__subtitle {
	color: #495057;
	font-size: 25px;
	font-weight: 500;
	line-height: 0.8; /* 80% */
	margin-bottom: 60px;
}
.latest__card {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.latest__image {
}
.latest__text{
	max-width: 181px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}
.latest__tags {
	display: flex;
	column-gap: 15px;
	color: #495057;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66; /* 166.667% */
}
.latest__tag {
}
.latest__caption {
	color: #212529;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.56; /* 156.25% */
	
}


/* -------------------------------------------------------------------------------- */

.footerblock {
	background: #212529;
	padding: 100px 0px;
	color: rgba(248, 249, 250, 0.50);
	font-size: 12px;
	font-weight: 500;
	line-height: 1.66; /* 166.667% */
}
.footerblock__container {
}
.footerblock__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footerblock__row:first-child::after {
	content: '';
	display: inline-block;
	margin: 80px 0px;
	width: 100%;
	height: 3px;
	background: rgba(248, 249, 250, 0.50);
}
.footerblock__link {
}
.footerblock__logo {
}
.footerblock__links {
	display: flex;
	gap: 10px;
}
.footerblock__address {
}
.footerblock__rights {
}