/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
}
img{
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}
.wrapper {
	max-width: 1300px;
	margin: 0px auto;
	padding: 100px 15px;
}
[class*="__container"] {
	max-width: 816px;
	margin: 0px auto;
	margin-bottom: 80px;
}
[class*="__title"] {
	max-width: 605px;
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 40px;
}
[class*="__text"] {
	color: #6C757D;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.78;
	margin-bottom: 38px;
}
[class*="__image"] {
	text-align: center;
	margin-bottom: 80px ;
	font-size: 0;
}
.footerblock__img{
	margin: 0px 30px 30px 0px;
}
