/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

body{
	font-family: 'Poppins', sans-serif;
	padding: 0px 15px;
}
img{
	max-width: 100%;
	border-radius: 5px;
}
.wrapper {
	max-width: 1255px;
	margin: 0 auto;
}
[class*="__title"] {
	max-width: 605px;
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 40px;
}
[class*="__block"] {
	max-width: 816px;
	margin: 0 auto;
}
[class*="__text"] {
	color: #6C757D;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.78;
	margin-bottom: 38px;
}
.header {
	padding-top: 115px;
	margin-bottom: 80px;
}
.main {
	margin-bottom: 80px;
}
.footer{
	padding-bottom: 60px;
}
.footer__image {
	font-size: 0;
	max-width: 1255px;
	margin: 80px auto;
	text-align: center;
}
.footer__img{
}
#woman{
	margin-right: 30px;
	margin-bottom: 30px;
}
