/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700&display=swap");
/* -------------------------------------------------------------------------------- */

.wrapper{
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}
[class*="__link"]:hover {
	color: #3056D3;
}

/* -------------------------------------------------------------------------------- */

body{
	font-family: "Inter";
}
img{
	max-width: 100%;
}

/* -------------------------------------------------------------------------------- */

.headerblock {
	
}
.headerblock__row {
	position: fixed;
	width: 100%;
	min-height: 100px;
	background: #fff;
	padding: 30px 0px;
}
.headerblock__logo {
	display: inline-block;
	margin-right: 46px;
}
.headerblock__nav {
	display: inline-block;
	position: relative;
	top: 15px;
}
.headerblock__menu {
	
}


.menu {
	display: inline-block;
}
.menu__link {
	padding: 30px 0px;
}
.menu__item {
	color:#212B36;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5; /* 150% */
	border-radius: 5px;
	background:#F4F7FF;
	padding: 9px 21px;
	margin-right: 45px;
	position: relative;
}
.menu__link::after{
	content: '';
	display: inline-block;
	background: url('../img/icons/arrow-icon.svg') center center no-repeat;
	width: 10.8px;
	height: 5.8px;
	margin-left: 13px;
	margin-bottom: 2px;
}
.menu__item:hover .sub-menu{
	display: block;
	opacity: 1;
	visibility: visible;
}
.menu__sub-menu {

}

.menu__block {
}
.sub-menu {
	display: none;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 0;
	min-width: 180px;
	background: #fff;
	border-radius: 5px;
	border: 0.5px solid #E7E7E7;
	color: #637381;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 150% */
}
.sub-menu::before{
	content: '';
	display: inline-block;
	background: url('../img/icons/menu-icon.svg') 0 0 no-repeat;
	width: 32.381px;
	height: 20px;
	position: absolute;
	top: -10px;
}
.sub-menu__item:nth-child(2)::after{
	content: '';
	display: inline-block;
	background: url('../img/icons/arrow-icon.svg') 0 0 no-repeat;
	width: 10.8px;
	height: 5.8px;
	margin-left: 13px;
	margin-bottom: 2px;
}
.sub-menu__item:nth-child(2):hover::after{
	content: '';
	display: inline-block;
	background: url('../img/icons/blue-menu-icon.svg') 0 0 no-repeat;
	width: 5px;
	height: 9.31px;
	margin-left: 33px;
	margin-bottom: 1px;
}
.sub-menu__link:hover{
	color: #3056D3;
	
}
.sub-menu__link {
	display: inline-block;
	padding: 12px 14px;
}


.headerblock__list {
	display: inline-block;
}
.list {
	color:#212B36;
	font-size: 16px;
	font-weight: 600;
	margin-right: 104px;
}
.list__item {
	display: inline-block;
}
.list__item:nth-child(3)::after{
	content: '';
	display: inline-block;
	background: url('../img/icons/arrow-icon.svg') 0 0 no-repeat;
	width: 10.8px;
	height: 5.8px;
	margin-left: 13px;
	margin-bottom: 2px;
}
.list__item:not(:last-child){
	margin-right: 35px;
}

.headerblock__icon {
	display: inline-block;
	position: relative;
	top: -10px;
}
.icon__block{
	display: inline-block;
	color: #FFF;
	font-size: 11px;
	font-weight: 400;
	position: relative;
}
.icon__block:not(:last-child) {
	margin-right: 20px;
}
.icon__image {
	display: inline-block;
}
.icon__block:nth-child(2)::after{
	content: '3';
	width: 16px;
	height: 16px;
	background: #3056D3;
	border-radius: 50%;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	left: 15px;
}
.icon__block:nth-child(3)::after{
	content: '1';
	width: 16px;
	height: 16px;
	background: #3056D3;
	border-radius: 50%;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	left: 15px;
}


.sub-menu__item {
}
.fashion {
	
}
.sub-menu__item:hover .fashion__block{
	display: block;
}
.sub-menu__link {
}
.fashion__link {
}
.fashion__block {
	padding: 30px 24px 30px 36px;
	width: 652px;
	height: 308px;
	background: #fff;
	display: none;
	position: absolute;
	left: 98%;
	top: 28px;
	z-index: 5;
	border-radius: 5px;
	border: 0.5px solid #E7E7E7;
	background:  #FFF;
}
.fashion__column {
	display: inline-block;
}
.fashion__column:not(:last-child){
	margin-right: 69px;
}
.fashion__title {
	color:  #212B36;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5; /* 150% */
	margin-bottom: 20px;
}
.fashion__menu {
}
.fashion__item {
}
.fashion__item:not(:last-child){
	margin-bottom: 12px;
}
.fashion__column:nth-child(3){
	display: inline-block;
	position: relative;
	top: -15%;
	left: 0%;
	border-radius: 4px;
	width: 220px;
	height: 248px;
	text-align: center;
	color:#FFF;
	background: url('../img/menu-back.jpg') 0 0 no-repeat;
}
.column{

}
.column__title {
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
	font-size: 40px;
	font-weight: 700;
	padding-top: 30%;
}
.column__subtitle {
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 21px;
}
.column__button {
	display: inline-block;
	padding: 5px 13px 7px 15px;
	border-radius: 2px;
	background:#3056D3;
	min-width: 83px;
}
.column__button:hover{
	background:#203b95;
	border-radius: 5px;
}
/* -------------------------------------------------------------------------------- */

.mainblock{
	padding-top: 150px;
	background: #ba5656;
}

/* -------------------------------------------------------------------------------- */

