/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");

/* -------------------------------------------------------------------------------- */

.wrapper{
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 0px;
}


/* -------------------------------------------------------------------------------- */
img{
	max-width: 100%;
}
/* -------------------------------------------------------------------------------- */

.wrapper {
}
.headerblock {
}
.headerblock__container {
}
.headerblock__row {
	display: flex;
}
.headerblock__logo {
}
.headerblock__menu {
}
.menu {
}
.menu__sub-menu {
}
.sub-menu {
	
}
.sub-menu:hover .sub-menu__menu {
	display: block;
}
	
.sub-menu__link {
}
.sub-menu__menu {
	display: none;
}
.sub-menu__item {
}
.mainblock {
}
.mainblock__container {
}
.footerblock {
}
.footerblock__container {
}

/* -------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */